<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if page.title %}
        {{ page.title }} - {{ site.title }}
      {% else %}
        {{ site.title }}
      `{% endif %}
    </title>
    <meta name="author"  content="{{ site.author }}">
    <meta name="description" content="{% if page.title %}{{ page.title }}
    {% else %}{{ site.title }}{% endif %}">
    <meta name="keywords"  content="
    {% if page.tags.size > 0 %}
      {% for tag in page.tags  %}{{ tag }}
        {% if forloop.last == false %}, 
        {% endif %}
      {% endfor %}
    {% endif %}">
    <!-- Open Graph -->
    <meta property="og:title" content="
    {% if page.title %}
      {{ page.title }} - {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <link rel="stylesheet" href="/assets/css/worg.css">
    <script type="text/javascript" src="
    https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/
    MathJax.js?config=TeX-AMS_HTML">
    </script>
</head>

<body>
    <div class="post-content visible">
    {% if page.subtitle %}
    <h2 class="post-subtitle">{{ page.subtitle }}</h2>
    {% endif %}

    <article class="markdown-body">
      {{ page.content }}
    </article>

    {% if site.social-share %}
    <div class="social-share-wrapper">
      <div class="social-share"></div>
    </div>
    {% endif %}
  </div>
</body>